# Development and testing dependencies
-r requirements.in

pyinstaller
pytest
pytest-mock
pytest-cov
freezegun
pip-tools
wheel>=0.46.2  # Explicitly added to enforce Security CVE fix
pillow>=12.1.1  # Development env should also use patched Pillow
parameterized
